<%= form_with scarp: :tweet, url: tweets_path, method: "post" do |f| %>
  <%= f.text_field :text, cols: 40, rows: 5, maxlength: 140 %>
  <%= f.submit '保存' %>
<% end %>
<!--<hr>-->
<!--<button type="submit" style="width: 70px; height: 25px;"><%#= link_to 'ツイート', post_tweets_path %></button>-->